.container {
  display: flex;
  align-items: center;
}

.logo {
  width: 70px;
  height: 70px;
}

.input {
  padding: 0;
  background: none;
  border: none;
  outline: none;
  color: white;
  font-size: 15px;
  line-height: 40px;
}
