.container {
  display: flex;

  align-items: center;
  align-content: center;
  justify-content: center;
}

.logo {
  width: 70px;
  height: 70px;
}

.searchbox {
  width: 100%;
}
.input {
  margin: 10px 0;
  padding: 8px 6px;
  border: 1px solid lightgrey;
  outline: 0;
  font-size: 1rem;
}
.btn {
  height: 100%;
}
