.video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: ;
}

.info {
  display: flex;
  justify-content: space-between;
}

.channelInfo {
  display: flex;
  align-items: center;
}

.channelTumb {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  padding-right: 10px;
}
.channelInfoTxt {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.chTitle {
  font-size: 1.5em;
  margin: 0;
}

.chCount {
  font-size: 1em;
  margin: 0;
}

.videoInfo {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 500;
}
.like {
  margin-left: 1em;
  margin-right: 1em;
  display: flex;
  align-items: center;
}
.likemark {
  margin-right: 5px;
  font-size: 1.5rem;
}

.viewCount {
  margin-right: 1em;
}
@media screen and (max-width: 50rem) {
  .info {
    display: inline;
  }
}

@media screen and (max-width: 80rem) {
  .video {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
