.video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 5%;
}

.info {
  display: flex;
  justify-content: space-between;
}

.channelInfo {
  display: flex;
  align-items: center;
}

.channelTumb {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  padding-right: 7px;
}
.channelInfoTxt {
}
.chTitle {
  font-size: 5rem;
}

.chCount {
}

.videoInfo {
  display: flex;
  align-items: center;
}
